<div class="main-content">
    <div class="container-fluid">
            



        <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h2>Categories List</h2>
            </div>



            


            
                <a routerLink="/create-category" routerLinkActive= "active" class="btn btn-success stretched-link">Add category</a>
            



            <div class="panel-body">
              <table class="table table-striped"  >
        
                <thead>
                  <tr>
                    <th >Type</th>
                    <th >Action</th>
                
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>{{category.type}}</td>
                    
                    <td>
                      
                      


                        <button class="btn btn-danger btn-sm rounded-0"  (click)="deleteProvider(provider.id)" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        
                        <button class="btn btn-info btn-sm rounded-0" (click)="updateProvider(provider.id)" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                        
                      </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




        </div>  
      
    </div>
</div>