<div class="main-content">
    <div class="container-fluid">

        
        

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>descrption</th>
                    <th>quantite</th>

                    </tr>
                    </thead>
                    <tr *ngFor="let i of products">
                        <td>{{i.name}} </td>
                        <td>{{i.description}} </td>
                        <td>{{i.quantite}} </td>
                    </tr>
                    </table>
                   

                    


         
      
    </div>
</div>